* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 3px solid;
    background-color: #b7d4a8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    #box {
        width: 474px;
        height: 474px;
        border: 2px solid;
        position: relative;

        #snake {
            position: relative;

            &>div {
                position: absolute;
                width: 10px;
                height: 10px;
                border: 1px solid #b7d4a8;
                background-color: #000;
            }
        }

        #food {
            width: 10px;
            height: 10px;
            position: absolute;
            left: 50px;
            top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            div {
                width: 4px;
                height: 4px;
                background-color: #ff9901;
                transform: rotate(45deg);
            }
        }

    }

    #score-pane {
        width: 470px;
        display: flex;
        justify-content: space-between;

        div {
            height: 50%;
            font-weight: bold;
            padding: 15px;

            #score {
                color: blue;
            }

            #level {
                color: green;
            }
        }
    }
}